<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <p>Ajouter les ingrédients du <%= @cocktail.name %></p>

      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.error_notification %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit 'Ajouter !' %>
      <% end %>

     <%= link_to 'Back', cocktails_path %>

     <p>Voici les doses !</p>
     <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> - <%= dose.ingredient.name %></li>
     <% end %>

    </div>
  </div>
</div>
